#### Ejercicio 1: lambda – Sumar dos números

Crea una función llamada `sum_two_numbers()` que no recibe nada.  
Dentro de la función, define una función lambda llamada `add` que tome dos parámetros y devuelva su suma.  
Utiliza la lambda con dos números a elección y retorna el resultado.

Ejemplo de entrada:  
No hay entrada del usuario; los números pueden ser 5 y 7.

In [ ]:
# Ejercicio 1:

#### Ejercicio 2: map – Multiplicar todos los elementos de una lista

Crea una función llamada `multiply_list()` que no recibe nada.  
Define una lista llamada `numbers` con algunos enteros.  
Usa la función `map` junto con una función lambda para multiplicar cada elemento por 3.  
Retorna la lista transformada.

Ejemplo de entrada:  
numbers = [2, 4, 6, 8]

In [ ]:
# Ejercicio 2:

#### Ejercicio 3: map + diccionarios + copy – Aumentar el salario de empleados

Crea una función llamada `increase_salaries()` que no recibe nada.  
Define una lista llamada `employees` con varios diccionarios, donde cada uno tiene las claves `"name"` y `"salary"`.  
Usa `map` y una función lambda para devolver una nueva lista de empleados donde el salario esté incrementado en 1000 unidades, sin modificar la lista original.  
Para evitar modificar el array original, utiliza la función `copy` de la librería `copy` dentro de la lambda.

Ejemplo de entrada:  
employees = [
    {"name": "Alice", "salary": 2500},
    {"name": "Bob", "salary": 3200},
    {"name": "Charlie", "salary": 2900}
 ]

In [ ]:
# Ejercicio 3:

#### Ejercicio 4: filter – Filtrar números pares

Crea una función llamada `get_even_numbers()` que no recibe nada.  
Define una lista llamada `numbers` con enteros.  
Utiliza `filter` y una función lambda para retornar solo los números pares de la lista.

Ejemplo de entrada:  
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Ejercicio 4:

#### Ejercicio 5: reduce – Sumar todos los valores de una lista

Crea una función llamada `sum_list()` que no recibe nada.  
Define una lista llamada `numbers` con enteros.  
Utiliza `reduce` y una función lambda para obtener la suma total de los elementos de la lista.  
Recuerda importar `reduce` desde `functools`.

Ejemplo de entrada:  
numbers = [10, 20, 30, 40]

In [ ]:
# Ejercicio 5:

#### Ejercicio 6: filter + map – Obtener nombres de empleados con salario alto

Crea una función llamada `high_salary_names()` que no recibe nada.  
Define una lista llamada `employees`, donde cada empleado es un diccionario con `"name"` y `"salary"`.  
Primero filtra los empleados con salario mayor a 3000 usando `filter` y una lambda.  
Luego, usa `map` para obtener solo los nombres de estos empleados.  
Retorna la lista de nombres.

Ejemplo de entrada:  
employees = [
    {"name": "Alice", "salary": 2500},
    {"name": "Bob", "salary": 3200},
    {"name": "Charlie", "salary": 2900},
    {"name": "Diana", "salary": 4000}
 ]

In [ ]:
# Ejercicio 6:

#### Ejercicio 7 (integrador): Analizar ventas de productos

Crea una función llamada `get_products_summary()` que no recibe nada.  
Define una lista llamada `products` con diccionarios, donde cada uno tiene las claves `"name"`, `"category"`, `"price"` y `"units_sold"`.  
El objetivo es que devuelvas de alguna manera (puede ser una lista, un valor, un string, etc.) un resumen de los productos más vendidos (mayor `units_sold`) y el promedio de precios de la categoría "Electronics".  
No se indica qué funciones debes usar: elige tú entre lambda, map, filter, reduce, copy según lo aprendido.  
¡Sé creativo!

Ejemplo de entrada:  
products = [
    {"name": "Laptop", "category": "Electronics", "price": 1200, "units_sold": 50},
    {"name": "Headphones", "category": "Electronics", "price": 200, "units_sold": 150},
    {"name": "Shirt", "category": "Clothing", "price": 40, "units_sold": 80},
    {"name": "Smartphone", "category": "Electronics", "price": 900, "units_sold": 120},
    {"name": "Pants", "category": "Clothing", "price": 60, "units_sold": 70}
 ]

In [ ]:
# Ejercicio 7: